body {
    font-family: 'Press Start 2P', monospace;
    background-color: #222;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
}

.container {
    background-color: rgba(0, 50, 80, 0.7);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #44fffb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 800px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ddd;
}

.status-box {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #555;
    text-align: left;
}

.status-box h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #fff;
}

.status-box p {
    font-size: 0.9em;
    color: #eee;
}

.loading {
    color: #aaa;
}

.online {
    color: #00ff00;
}

.offline {
    color: #ff0000;
}

.playing {
    color: #00ffff;
}
